.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 12px 24px;
    background-color: #770477;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #6e035d;
}